apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: patrones-front
  name: patrones-front
spec:
  selector:
    matchLabels:
      app: patrones-front
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: patrones-front
    spec:
      containers:
      - image: sergios21/patrones_front:latest
        name: patrones-front
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 40
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
